div>div{
	width: 25%;
	height: 100px;
	float: left;
}
.cajaGrande{
	width: 500px;
	border: 2px solid black;
}
.rojo{
	background-color: #FA5858;
}
.azul{
	background-color: #5882FA;
}
.amarillo{
	background-color: #F4FA58;
}
.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}.clearfix:after{
	clear:both;
}