div{
	width: 25%;
	height: 100px;
}
.cajaGrande{
	width: 500px;
	height: 300px;
	border: 2px solid black;
}
.rojo{
	background-color: red;
}
.azul{
	background-color: blue;
}
.amarillo{
	background-color: yellow;
}